* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.header {
  background-color: rgb(47, 59, 77);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
}

.main-banner {
  background-color: rgb(185, 201, 223);
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

.btn-area {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-btn {
  padding: 0.25rem 0.5rem;
}
